<!DOCTYPE html>
<head>
	<title>Ticket Beacon</title>
	<link rel="stylesheet" type="text/css" href="/media/tlsearch/style.css" />
	<link rel="stylesheet" href="/media/webfontkit/stylesheet.css" type="text/css" charset="utf-8" />
<link href="/media/favicon.ico" rel="icon" type="image/x-icon" />
<meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
<script src="/media/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=geometry&sensor=false"></script>
<script src="http://code.jquery.com/jquery-1.5.js"></script>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<link type="text/css" href="/media/tlsearch/jquery-ui/css/custom-theme/jquery-ui-1.8.14.custom.css" rel="Stylesheet" />
<script src="/media/lettering.js"></script>
<script type="text/javascript" src="/media/fancybox/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<link rel="stylesheet" href="/media/fancybox/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />
<script>
	var geocoder;
	var map;
	var browserSupportFlag = new Boolean();
	var initialLocation;
	var megaArray = [];
	var today = new Date();
	var today_for_api = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
	var emptyImage = '/media/tlsearch/images/empty.png';
	var numcalls = 0;
	var markersArray = [];
	var infowindow;
	var tagArray = [];
	var specificResults = [];
	var activeArray;
	var newLocation = 0;
	var masterLatlng = new google.maps.LatLng(40.748379, -73.98555999999996);
	var attendeeCounter = 0;
	
	function fetch(num) {
		//Ready the loading box
		document.getElementById("boxLocation2").innerHTML = "";
		document.getElementById("boxEvents1").innerHTML = "";
		document.getElementById("boxEvents2").innerHTML = "";
		document.getElementById("boxPerformance1").innerHTML = "";
		document.getElementById("boxPerformance2").innerHTML = "";
		document.getElementById("searchTerm").innerHTML = "";
		//if just searching, just search, then show events, if not, do the whole damn thing.
		if (num == 2 && newLocation == 0) {
			activeArray = megaArray;
			searchResults();
			document.getElementById("result_table").innerHTML = "";
			document.getElementById("searchTag").innerHTML = "";
			deleteMarkers();
			displayPages(20,1);
			createPages(20);
		}
		else if (newLocation == 1 || num == 1) {
			newLocation = 0;
			document.getElementById("resultControls").style.display = "none";
			document.getElementById("maps_tags").style.display = "none";
			document.getElementById("map_canvas").style.display = "none";
			deleteMarkers();
			$("#inline").trigger('click');
			megaArray = [];
			tagArray=[];
			document.getElementById("fsq_results1").innerHTML = "";
			//if first fetch, look in first field, if second fetch, look in second field
			if (num == 1) {
				var address = document.getElementById("first_loc").value;
			}
			else {
				var address = document.getElementById("find_loc").value;
			};
			//figure out where you are, display, then take the appropriate variables to do a search
			geocoder.geocode({'address': address}, function(results, status) {
				if (status== google.maps.GeocoderStatus.OK) {
					if(results[0]) {
						var lat = results[0].geometry.location.lat();
						var lng = results[0].geometry.location.lng();
						var latlng = new google.maps.LatLng(lat, lng);
						map.setCenter(latlng);
						masterLatlng = latlng;
						var addy = results[0].formatted_address.split(", ");
						var state = addy[2].split(" ");
						var COUNTRY_CODE = addy[3];
						var REGION_NAME = state[0];
						var CITY = addy[1];
						$("#boxLocation2").append("Awesome, you're in "+CITY+"!");
						document.getElementById("searchLocation").innerHTML = " in "+CITY;
						document.getElementById("find_loc").value = CITY+', '+REGION_NAME;
						$("#boxEvents1").append("Searching for events near you...");
						tlSearch(COUNTRY_CODE, REGION_NAME, CITY, today_for_api);
					};
				} else {
					alert("Geocoder failed due to: "+status);
				}
			});
		}
	}
	
	function tlSearch(COUNTRY_CODE,REGION_NAME,CITY,date) {
		var tlUrl = 'http://public-api.ticketleap.com/events/by/location/'+COUNTRY_CODE+'/'+REGION_NAME+'/'+CITY;
		$.getJSON(tlUrl+'?key=7735287934996432&page_size=100&dates_after='+date+'&callback=?', {},
			function(data) {
				//Call the api more times if over 100 events
				numcalls = Math.ceil(data.total_count /  100);
				if (data.total_count>100) {
					var callsLeft = numcalls - 1;
					tlSearch2(COUNTRY_CODE,REGION_NAME,CITY,date,callsLeft);
				}
				$("#boxEvents2").append("Sweet! "+data.total_count+" events found!");
				$("#boxPerformance1").append("Scouting out event schedule...");
				$("#fsq_results1").append('<table cellpadding="0" cellspacing="0" id="result_table"></table>');
				var eventArray = []
				$.each(data.events, function() {
					//Get the org slug and event slug from each event in order to do performance search
					var miniArray = [this.organization_slug, this.slug, this.venue_street+', '+this.venue_city+', '+this.venue_region_name];
					eventArray.push(miniArray);
				});
				getPerformanceInfo(eventArray,1);
			});
	}
	
	function tlSearch2(COUNTRY_CODE,REGION_NAME,CITY,date,callsLeft) {
		var tlUrl = 'http://public-api.ticketleap.com/events/by/location/'+COUNTRY_CODE+'/'+REGION_NAME+'/'+CITY;
		var page = 2;
		while (page<=callsLeft+1) {
			var callCount = page;
			$.getJSON(tlUrl+'?key=5382714350143704&page_num='+page+'&page_size=100&dates_after='+date+'&callback=?', {},
				function(data) {
					var eventArray2 = []
					$.each(data.events, function() {
						var miniArray2 = [this.organization_slug, this.slug, this.venue_street+', '+this.venue_city+', '+this.venue_region_name];
						eventArray2.push(miniArray2);
					});
					getPerformanceInfo(eventArray2,callCount);
				});
			page +=1;
		}
	}
	
	function getPerformanceInfo(eventArray,callCount) {
		var lastOne = eventArray[eventArray.length-1];
		var lastSlug = lastOne[1];
		$.each(eventArray, function() {
			geocoder.geocode({'address': this[2]}, function(results, status) {
				if (status== google.maps.GeocoderStatus.OK) {
					if(results[0]) {
						var lat = results[0].geometry.location.lat();
						var lng = results[0].geometry.location.lng();
						var latlng = new google.maps.LatLng(lat, lng);
						info.latlng = latlng;
						info.distance = calcDistance(info.latlng,masterLatlng);
					} else {
						//alert('No results for '+info.location);
					}
				} else {
					//alert(status+this[1]);
				}
			});
			var tlUrl = 'http://public-api.ticketleap.com/organizations/'+this[0]+'/events/'+this[1];
			$.getJSON(tlUrl+'?key=5382714350143704&callback=?', {},
				function(data) {
					//Grab performance information and create an array
					$.each(data.performances, function () {
						var perfArray = [];
						perfArray.name = data.name;
						perfArray.organization = data.organization_name;
						perfArray.url = this.url;
						perfArray.start = this.start_local;
						perfArray.end = this.end_local;
						//Shorten description
						if (data.description.length >100) {
							perfArray.desc = data.description.slice(0,100)+'...';
						} else {
							perfArray.desc = data.description;
						};
						//Fill in image if unavailable
						if (data.image_url_search == null) {
							perfArray.image = emptyImage;
						} else {
							perfArray.image = data.image_url_search;
						};
						perfArray.venue = data.venue_name;
						perfArray.location = data.venue_street+', '+data.venue_city+', '+data.venue_region_name;

						perfArray.perfslug = data.slug+'_'+this.slug;
						perfArray.eventslug = data.slug;
						perfArray.orgslug = data.organization_slug;
						var tags = [];
						//Get tag info
						for (i in data.tags) {
							tags.push(data.tags[i].name);
						};
						perfArray.tags = tags;
												
						//Get sortable date
						var compDate = Date.parse(this.start_local);
						perfArray.compDate = compDate;
						
						//Check that it's after today, then add to list.
						var date1 = new Date(perfArray.start);
						if (date1 >= today) {
							megaArray.push(perfArray);
						};
						
						//if the event is the last in the array, and last performance, and the last call, get attendee info
						if (data.slug == lastSlug) {

							var lastPerf = data.performances[data.performances.length-1];
							if (this.slug == lastPerf.slug) {
								if (callCount == numcalls) {
									for (i in megaArray) {
										getLocation(megaArray[i],1);
										//getAttendees(megaArray[i]);
									};
									getAttendees();
								}
							}
						}
					});
				})
		})
	}
	
	function getLocation(info,Fswitch) {
		if (newLocation == 1) {Fswitch=0};
		if (info.latlng) {
			if (Fswitch == 0) {
				addVMarker(info, info.latlng);
			}
		} else {

			
			geocoder.geocode({'address': info.location}, function(results, status) {
				if (status== google.maps.GeocoderStatus.OK) {
					if(results[0]) {
						var lat = results[0].geometry.location.lat();
						var lng = results[0].geometry.location.lng();
						var latlng = new google.maps.LatLng(lat, lng);
						info.latlng = latlng;
						info.distance = calcDistance(latlng,masterLatlng);
						if (Fswitch == 0) {
							addVMarker(info, latlng);
						}
					} else {
						alert('No results for '+info.location);
					}
				} else {
					//alert(status);
				}
			});
		}
	}
	
	
	
	
	function calcDistance(p1, p2) {
		var R = 6371; // earth's mean radius in km
		//Get differences in degrees
		var dLat = (p2.lat() - p1.lat());
		var dLong = (p2.lng() - p1.lng());
		//Convert to radians
		var p1LatRad = p1.lat() * Math.PI /180;
		var p2LatRad = p2.lat() * Math.PI /180;
		var dLatRad = dLat * Math.PI / 180;
		var dLongRad = dLong * Math.PI / 180;

		//Do some math magic
		var a = Math.sin(dLatRad/2) * Math.sin(dLatRad/2) +
				Math.cos(p1LatRad) * Math.cos(p2LatRad) * Math.sin(dLongRad/2) * Math.sin(dLongRad/2);
		var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));
		var d = R * c;
		return d.toFixed(3);
	}
	
	function getAttendees() {
		for (i in megaArray) {
			var tlUrl = 'http://public-api.ticketleap.com/organizations/'+megaArray[i].organization+'/events/'+megaArray[i].eventslug+'/social/attendees';
			$.getJSON(tlUrl+'?key=5382714350143704&callback=?', {},
				function(data) {
					megaArray[i].attendees = data.total_count;
					//alert	(megaArray[i].attendees+' attendees to '+megaArray[i].name);
					attendeeCounter += 1;
					//alert(attendeeCounter+' out of '+(megaArray.length - 1));
			});
		};
		//alert('now it is time to move on');
		showMe(20);
	}
	
	function showMe(eventNum) {
		//Sort Arrays
		megaArray.sort(function(a,b) {
			return a.compDate-b.compDate
		});

		activeArray = megaArray;
		
		//Display tags
		tagHandler();
		
		//If search term, search first
		if (document.getElementById("find_desc").value) {
			searchResults();
		};

		//Display results
		$("#boxPerformance2").append(activeArray.length+" killer event times for you!");
		document.getElementById("eventCount").innerHTML = activeArray.length;
		document.getElementById("resultControls").style.display = "";
		document.getElementById("maps_tags").style.display = "";
		document.getElementById("map_canvas").style.display = "";
		displayPages(eventNum,1);
		createPages(eventNum);
	}

	function tagHandler() {
		for (i in megaArray) {
			for (h in megaArray[i].tags) {
				tagArray.push(megaArray[i].tags[h]);
			}
		};
		//compute frequencies of each tag
		var frequency = {}, value;
		for (var i=0; i<tagArray.length; i++) {
			value = tagArray[i];
			if(value in frequency) {
				frequency[value]++;
			}
			else {
				frequency[value] = 1;
			}
		};
		
		//make array from the frequency object
		var uniques = [];
		for (value in frequency) {
			uniques.push(value);
		};
		
		//Display tags
		uniques.sort();
		document.getElementById("tags").innerHTML = "";
		//Determine tag size
		if (uniques.length > 300) {
			var freqLimit = 5;
			var addNum = 4;
			var multy = 3;
			var divy = 5;
		}
		else {
			if (uniques.length < 100) {
				var freqLimit = 1;
				var addNum = 5;
				var multy = 4;
				var divy = 3;
			} 
			else {
				var freqLimit = 3;
				var addNum = 6;
				var multy = 4;
				var divy = 5;
			}
		};
		
		for (i in uniques) {
			if (frequency[uniques[i]]>=freqLimit) {
				var size = Math.ceil(frequency[uniques[i]] / divy)*multy + addNum;
				if (size > 27) {
					size = 27;
				};
				$("#tags").append('<a href="#" id="'+uniques[i]+'" class= "'+size+'">'+uniques[i]+'</a>  ');
			};
		};
		
		//Assign onclick action
		aObj = document.getElementById('tags').getElementsByTagName('a');
		for(var i=0;i<aObj.length;i++) {
			var searchTag = aObj[i].innerHTML;
			var term = searchTag;
	    	aObj[i].onclick = function(){
				searchByTag(this.id);
			};
	  	}; 
		
		document.getElementsByClass = function(class){
		   var itemsfound = new Array;
		   var elements = document.getElementsByTagName('*');
		   for(var i=0;i<elements.length;i++){
		      if(elements[i].className == class){
		         itemsfound.push(elements[i]);
		      }
		   }
		   return itemsfound;
		};
		//change font-size for tag cloud
		var fSize = 9;
		while (fSize <= 27) {
			for(i in document.getElementsByClass(fSize)) {
				 document.getElementsByClass(fSize)[i].style.fontSize = fSize+'px';
			};
			fSize += 1
		};
	}

	function searchResults() {
		var searchArray = [];
		var searchTerm = document.getElementById('find_desc').value;
		var searchTermCap = searchTerm.charAt(0).toUpperCase() + searchTerm.slice(1);
		var termArray = [];
		termArray.push(searchTermCap);
		termArray.push(searchTerm.toUpperCase());
		termArray.push(searchTerm.toLowerCase());
		for (i in activeArray) {
			var match = 0
			for (h in termArray) {
				//Search name
				if(activeArray[i].name.search(termArray[h]) != -1) {
					match = 1;
				};
				//Search organization
				if(activeArray[i].organization.search(termArray[h]) != -1) {
					match = 1;
				};
				//Search tags
				for (k in activeArray[i].tags) {
					if(activeArray[i].tags[k].search(termArray[h]) != -1) {
						match = 1;
					};
				};
				//Search description
				if(activeArray[i].desc.search(termArray[h]) != -1) {
					match = 1;
				};

				//Search venue
				if(activeArray[i].venue.search(termArray[h]) != -1) {
					match = 1;
				};
			};
			if (match != 0) {
				searchArray.push(activeArray[i]);
			};
		};
		activeArray = searchArray;
		document.getElementById("eventCount").innerHTML = activeArray.length;
		if (searchTerm){
			document.getElementById("searchTerm").innerHTML = " for "+searchTerm+"<a href='#' onclick='removeTerm()'> [x]</a>";
		}
	}
	
	function removeTerm() {
		activeArray = megaArray;
		document.getElementById("result_table").innerHTML = "";
		document.getElementById("eventCount").innerHTML = activeArray.length;
		document.getElementById("searchTerm").innerHTML = "";
		displayPages(20,1);
		createPages(20);
	}
	
	function displayPages(numPerPage,pageNum) {
		if (markersArray.length > 0){
			deleteMarkers();
		};
		var counter = 0;
		var startNum = (pageNum - 1)*numPerPage;
		var endNum = Math.min(startNum + numPerPage,activeArray.length);
		for (var i=startNum;i<endNum;i++) {
			var elName = 'tl_'+activeArray[i].perfslug;
			$("<tr>").attr("id",elName).appendTo("#result_table");
			getEventInfo(activeArray[i]);
			getLocation(activeArray[i],0);
		};
		hMarker = new google.maps.Marker({
			position: masterLatlng,
			map: map,
			draggable: false,
		});
		markersArray.push(hMarker);
		
	}

	function createPages(numPerPage) {
		totalNumPages = Math.ceil(activeArray.length / numPerPage);
		if (totalNumPages == 1){
			document.getElementById("previous").innerHTML = "";
			document.getElementById("next").innerHTML = "";
		}
		document.getElementById("pNums").innerHTML = "";
		for (var i=1;i<=totalNumPages;i++) {
			$('#pNums').append('<a href="#" onclick="getPage('+i+','+totalNumPages+','+numPerPage+')">'+i+'</a> ');
		};
		activateLink(1);
	}
	
	function getPage(pageNum,totalNumPages,numPerPage) {
		activateLink(pageNum);
		//create previous and next if needed
		if (pageNum > 1){
			document.getElementById("previous").innerHTML = "<a href='#'>prev</a> ";
		}
		else {
			document.getElementById("previous").innerHTML = "";
		};
		if (pageNum == totalNumPages) {
			document.getElementById("next").innerHTML = "";
		}
		else {
			document.getElementById("next").innerHTML = " <a href='#'>next</a>";
		};
		//display pertinent results
		document.getElementById('result_table').innerHTML = "";
		displayPages(numPerPage,pageNum);
	}

	function getEventInfo(info) {
			var elName = 'tl_'+info.perfslug;
			//alert(info.distance);
			$('#'+elName).append('<td class="image" style="width:8em"><a target="_blank" href="'+info.url+'"> <img src='+info.image+' /></a></td>'
				+'<td><h3><a target="_blank" href="'+info.url+'">'+info.name+'</a></h3>'
				+'<table cellpadding="0" cellspacing="0"><tr class="meta">'
				+'<td class="first" width="350em"><strong>'+info.start+' to '+info.end+'</strong><br />'
				+'Organized by <a target="_blank" href="http://'+info.orgslug+'.ticketleap.com">'+info.organization+'</a><br />'
				+'<div id="'+this.perfslug+'_peeps">Attendee info should go riiiiight here</div></td>'
				+'<td><strong>'+info.venue+'</strong><br/>'+info.location+'</td></tr></table>'
				+'<p id="desc">'+info.desc+'</p></td></tr>');
			
	}

	
	
	function addVMarker(info, Vlatlng) {
		tString = info.name;
		var contentStr = '<div class="box_title"><b>'+info.name+'</b></div><br /><div class="box_content">';
		contentStr += '</div>';
		vMarker = new google.maps.Marker({
			position: Vlatlng,
			map: map,
			draggable: false,
			title: tString,
			html: contentStr,
		});
		markersArray.push(vMarker);
		infowindow = new google.maps.InfoWindow({
			maxWidth: 330,
		});
		google.maps.event.addListener(vMarker, 'mouseover', function() {
			infowindow.setContent(this.html);
			infowindow.open(map, this);
		});
	}
	
	function deleteMarkers() {
		if (markersArray) {
			for (i in markersArray) {
				markersArray[i].setMap(null);
			}
			markersArray.length = 0;
		}
	}
	
	function sortByDate() {
		//Sort Arrays
		activeArray.sort(function(a,b) {
			return a.compDate-b.compDate
		});
		document.getElementById("result_table").innerHTML = "";
		deleteMarkers();
		displayPages(20,1);
		createPages(20);
	}
	
	function sortByDistance() {
		//Recalc distance for active events
		for (i in activeArray) {
			if (activeArray[i].latlng) {
				activeArray[i].distance = calcDistance(activeArray[i].latlng,masterLatlng);
			} else {
				geocoder.geocode({'address': activeArray[i].location}, function(results, status) {
					if (status== google.maps.GeocoderStatus.OK) {
						if(results[0]) {
							var lat = results[0].geometry.location.lat();
							var lng = results[0].geometry.location.lng();
							var latlng = new google.maps.LatLng(lat, lng);
							activeArray[i].latlng = latlng;
							activeArray[i].distance = calcDistance(latlng,masterLatlng);
						} else {
							//alert('No results for '+info.location);
						}
					} else {
						//alert(status+'poop');
					}
				});
				if (activeArray[i].latlng) {} else{
					//alert(activeArray[i].name+' has no latlng at '+activeArray[i].location);
				}
			}
		};
		//alert('we made it here');
		//Get rid of undefined
		for (i in activeArray) {
			if (activeArray[i].distance){

			} else {
				activeArray[i].distance = 500;
			}
		};
		//Sort Arrays
		activeArray.sort(function(a,b) {
			return a.distance-b.distance
		});
		document.getElementById("result_table").innerHTML = "";
		deleteMarkers();
		displayPages(20,1);
		createPages(20);
	}
	
	function resultSort(eventNum) {
		document.getElementById("result_table").innerHTML = "";
		deleteMarkers();
		displayPages(eventNum,1);
		createPages(eventNum);
	}
	
	function searchByTag(searchTag) {
		document.getElementById("searchTerm").innerHTML = "";
		specificResults = [];
		for (i in megaArray) {
			for (h in megaArray[i].tags) {
				if (searchTag == megaArray[i].tags[h]) {
					specificResults.push(megaArray[i]);
				};
			};
		};
		activeArray = specificResults;
		document.getElementById("result_table").innerHTML = "";
		document.getElementById("eventCount").innerHTML = activeArray.length;
		document.getElementById("searchTag").innerHTML = " with tag "+searchTag+"<a href='#' onclick='removeTag()'> [x]</a>";
		deleteMarkers();
		displayPages(20,1);
		createPages(20);
	}
	
	function removeTag() {
		activeArray = megaArray;
		document.getElementById("result_table").innerHTML = "";
		document.getElementById("eventCount").innerHTML = activeArray.length;
		document.getElementById("searchTag").innerHTML = "";
		displayPages(20,1);
		createPages(20);
	}
	
	function updateAddress() {
		fetch(2);
	}
	
	function ClearCity() {
		document.getElementById('city').value="";
	}
	
	function ClearState() {
		document.getElementById('state').value="";
	}
	
	function ClearCountry() {
		document.getElementById('country').value="";
	}
	

	
	$(function() {
		$('input').keydown(function(e){
			if (e.keyCode == 13) {
				fetch();
				return false;
			}
		});
	});
	
	$(document).ready(function() {
		$(".fancy_title").lettering();
		$("a#zippy").fancybox({
			showCloseButton: false,
			hideOnOverlayClick: false,
			width: 425,
			height: 50,
			autoDimensions: false,
		});
		$("#zippy").trigger('click');
		geocoder = new google.maps.Geocoder();
		var myOptions = {
			zoom: 12,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
		//Event time selector panel
		$(".narrowResults").click(function(){
			$("#timePanel").slideToggle("slow");
			$(this).toggleClass("active"); return false;
		});
		//Datepicker
		$("#event_start").datepicker({
			showOtherMonths: true,
			selectOtherMonths: true,
			defaultDate: "",
			dateFormat: 'mm-dd-yy',
			minDate: today,
			showAnim: "",
			onSelect: function( selectedDate ) {
				$("#event_end").datepicker("option", "minDate", selectedDate);
			}
		});
		$("#event_end").datepicker({
			showOtherMonths: true,
			selectOtherMonths: true,
			defaultDate: "",
			minDate: today,
			showAnim: "",
			beforeShow: checkMinDate,
			dateFormat: 'mm-dd-yy',
		})
	});
	
	function checkMinDate() {
		var date1 = $("#event_start").datepicker("getDate");
		if (date1) {
			$("#event_end").datepicker("option", "minDate", date1);
		}
	}
	
	function setToday() {
		$("#event_start, #event_end").datepicker("setDate", today);
	}
	
	function setTomorrow() {
		$("#event_start, #event_end").datepicker("setDate", "+1d");
	}
	
	function setThisWeek() {
		$("#event_start").datepicker("setDate", today);
		var weekday = today.getDay();
		var daysToAdd = 7 - weekday;
		$("#event_end").datepicker("setDate", "+"+daysToAdd+"d");
	}
	
	function setThisWeekend() {
		var weekday = today.getDay();
		var daysToWeekend = 5 - weekday;
		$("#event_start").datepicker("setDate", "+"+daysToWeekend+"d");
		var daysToAdd = daysToWeekend + 2;
		$("#event_end").datepicker("setDate", "+"+daysToAdd+"d");
	}
	
	function setNextWeek() {
		var weekday = today.getDay();
		var daysToNextWeek = 8 - weekday;
		$("#event_start").datepicker("setDate", "+"+daysToNextWeek+"d");
		var daysToAdd = daysToNextWeek + 6
		$("#event_end").datepicker("setDate", "+"+daysToAdd+"d");
	}
	
	function setNextWeekend() {
		var weekday = today.getDay();
		var daysToWeekend = 12 - weekday;
		$("#event_start").datepicker("setDate", "+"+daysToWeekend+"d");
		var daysToAdd = daysToWeekend + 2;
		$("#event_end").datepicker("setDate", "+"+daysToAdd+"d");
	}
	
	function locationChange() {
		newLocation = 1;
	}
	
	function firstInput() {
		$("a#inline").fancybox({
			showCloseButton: false,
			width: 700,
			height: 245,
			autoDimensions: false,
			hideOnOverlayClick: true,
		});
		$("#inline").trigger('click');
		fetch(1);
	}
	
	function activateLink(pageNum) {
	  	aObj = document.getElementById('pNums').getElementsByTagName('a');
		for(i=0;i<aObj.length;i++) {
	    	if(i == pageNum-1) {
	      		aObj[i].className='active';
	    	} 
			else {
				aObj[i].className='';
			}
	  	}
	}
	
	
</script>
</head>
<body>
<div id="header"> 
	<div class="outsideContainer">
		<h1 class="fancy_title"><a href="http://www.jennystanchak.com/tlsearch">Ticket Beacon</a></h1> 

	</div><!-- end outsideContainer-->
</div><!--end header--> 
<div style="height: 5px !important;" id="nav"> 
</div><!--end nav-->
<div id='page'>
	<div class="outsideContainer">
		<div id='parameters'>
			<div id='searchbox'>
				<form method="get" action="/search" name="header_find_form" id="header_find_form"> 
					<p id="search_for"> 
						<label for="find_desc">Search for <span>(e.g. festivals, theater)</span></label> 
						<input maxlength="64" name="find_desc" tabindex="1" size="20" id="find_desc" autocomplete="off" value=""> 
					</p> 
					<p id="search_near" class="clearfix"> 
						<label for="dropperText_Mast">Near Address <span>(e.g. 60 Wall St, New York, NY)</span></label> 
						<input maxlength="64" name="find_loc" tabindex="2" id="find_loc" onchange="locationChange()" size="14" value="Philadelphia, PA"> 
					</p> 
					<a class="button" style="position:absolute;top:28px;float:left; width:85px; text-align:center" onclick="this.blur(); fetch(2)"><span>Search</span></a>

				</form>
			</div><!--end searchbox-->
			<div class="clear"></div>
			
			<div id="resultControls" style="display:none">
				<div class="narrowResults"><a href="#" class="timeSlide">Narrow results by date     </a></div>
				<div class="resultNum"><div id="eventCount">10,000,000</div> event times<div id="searchTerm"></div><div id="searchLocation"> in Philadelphia</div><div id="searchTag"></div></div>
				<hr style="color:#ccc;background-color:#ccc;height:1px;border:none;" />
				<div id="timePanel" style="display:none;">
					<div class="searchyBox">
						Return events between
						<input maxlength="10" name="event_start" tabindex="1" size="10" id="event_start" autocomplete="off" value="">
						and
						<input maxlength="10" name="event_end" tabindex="1" size="10" id="event_end" autocomplete="off" value="">
					</div>
					<div class="dateColumnA">
						<a href="#" onclick="setToday()">Today</a><br />
						<a href="#" onclick="setTomorrow()">Tomorrow</a>
					</div>
					<div class="dateColumnB">
						<a href="#" onclick="setThisWeek()">This week</a><br />
						<a href="#" onclick="setThisWeekend()">This weekend</a>
					</div>
					<div class="dateColumnC">
						<a href="#" onclick="setNextWeek()">New week</a><br />
						<a href="#" onclick="setNextWeekend()">Next weekend</a>
					</div>
					<div class="clear"></div>
					<hr style="color:#ccc;background-color:#ccc;height:1px;border:none;" />
				</div>
				<div class="pages"><span id="previous"></span><div class="pNums" id="pNums"><a>1</a> <a>2</a> <a>3</a> 4 5 6</div><span id="next"> <a href="#">next</a></span></div>				
				<div class="sort">Sort: <span><a href="#" onclick="sortByDate()">Date/Time</a> | <a href="#" onclick="sortBySocial()">Social Activity</a> | <a href="#" onclick="sortByDistance()">Distance</a></span></div>
				<div class="pagination">Show: <span><a href="#" onclick="resultSort(10)">10</a> | <a href="#" onclick="resultSort(20)">20</a> | <a href="#" onclick="resultSort(50)">50</a></span></div>

				<div class="clear"></div>
			</div><!--end resultControls-->
			
			<!--beginning of lightbox1 controls-->
			<a style="display:none" id="zippy" href="#zipInput">This shows the content of element who has id="zipInput"</a>
			<div style="display:none"><div id="zipInput">
				<label for="dropperText_Mast">Enter your address <span>(e.g. 60 Wall Street, New York, NY)</span></label> 
				<input maxlength="64" name="first_loc" tabindex="2" id="first_loc" size="26" value="1700 Sansom St., Philadelphia, PA" >
				<a class="button" style="float:left; width:60px; text-align:center" onclick="this.blur(); firstInput()"><span>Search</span></a>
				
			</div></div><!--end of lightbox1 controls-->
			<!--beginning of lightbox2 controls-->
			<a style="display:none" id="inline" href="#lightData">This shows the content of element who has id="lightData"</a>
			<div style="display:none"><div id="lightData">
				<table>
					<tr id="boxLocation">
						<td id="boxLocation1">Zeroing in on your location...</td>
						<td id="boxLocation2"></td>
					</tr>
					<tr id="boxEvents">
						<td id="boxEvents1"></td>
						<td id="boxEvents2"></td>
					</tr>
					<tr id="boxPerformance">
						<td id="boxPerformance1"></td>
						<td id="boxPerformance2"></td>
					</tr>
				</table>
				
			</div></div><!--end of lightbox2 controls-->
			
		</div><!--end of parameters-->
		<div class='results'>
			<div id='fsq_results1'>
			</div><!--end fsq_results1-->
		</div><!--end results-->	
		<div style="display:none" class='maps_tags' id='maps_tags'>
			<div id='tags'>
				Here are some tags tags tags tags tags tags tags tags tags tags tags tags tags tags tags tags tags tags tags
			</div><!--end tags-->
		</div><!--end maps_tags-->   
		<div id='map_canvas'>
		</div><!--end map_canvas-->  
	</div><!--end of outsideContainer-->
</div><!--end page-->
</body>