<!DOCTYPE html>
<head>
	<title>Ticket Beacon</title>
	<link rel="stylesheet" type="text/css" href="/media/tlsearch/style.css" />
<link href="/media/favicon.ico" rel="icon" type="image/x-icon" />
<meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
<script src="/media/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=geometry&sensor=false"></script>
<script src="http://code.jquery.com/jquery-1.5.js"></script>
<script>
	var geocoder;
	var map;
	var browserSupportFlag = new Boolean();
	var initialLocation;
	var megaArray = [];
	var today = new Date();
	var today_for_api = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
	alert(today_for_api);
	
	function initialize () {
		geocoder = new google.maps.Geocoder();
		
		// Detect location, then alert to tell location
		if (navigator.geolocation) {
			browserSupportFlag = true;
			navigator.geolocation.getCurrentPosition(function(position) {
				//alert('your location is '+position.coords.latitude+', '+position.coords.longitude);
				initialLocation = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
				codeLatLng(initialLocation);
			}, function() {
				alert("Geolocation not supported.  We've stuck you on the Empire State Building.")
				initialLocation = new google.maps.LatLng(40.748379, -73.98555999999996);
				codeLatlng(initialLocation);
			});
		};
	}
	
	function codeLatLng(latlng) {
		//alert("we are in the codeLatlng function!");
		geocoder.geocode({'latLng': latlng}, function(results, status) {
			if (status == google.maps.GeocoderStatus.OK) {
				if (results[1]) {
					//Narrow down to results with City, State, Country
					for (i in results) {
						var address = results[i].formatted_address.split(", ");
						if (address.length==3) {
							//Narrow down to results with two letters for State
							var state = address[1].split(" ");
							if (state.length==1 && state[0].length==2) {
								//Assign values to API parameters
								var COUNTRY_CODE = address[2];
								var REGION_NAME = address[1];
								var CITY = address[0];
								tlSearch(COUNTRY_CODE,REGION_NAME,CITY,today_for_api);
							};
						};
					};
				}
				else {
					alert("No results found");
				}
			} else {
				alert("Geocoder failed due to: "+status);
			}
		});
	}
	
	function tlSearch(COUNTRY_CODE,REGION_NAME,CITY,date) {
		var tlUrl = 'http://public-api.ticketleap.com/events/by/location/'+COUNTRY_CODE+'/'+REGION_NAME+'/'+CITY;
		$.getJSON(tlUrl+'?key=5382714350143704&page_size=100&dates_after='+date+'&callback=?', {},
			function(data) {
				$("#fsq_results1").append('<h3>Searching '+data.total_count+' events...<div id="performances"></div></h3>');
				$("#fsq_results1").append('<table cellpadding="0" cellspacing="0" id="results"></table>');
				var eventArray = []
				$.each(data.events, function() {
					//Get the org slug and event slug from each event in order to do performance search
					var miniArray = [this.organization_slug, this.slug];
					eventArray.push(miniArray);
				});
				getPerformanceInfo(eventArray);
			});
	}
	
	function getPerformanceInfo(eventArray) {
		var lastOne = eventArray[eventArray.length-1];
		var lastSlug = lastOne[1];
		$.each(eventArray, function() {
			var tlUrl = 'http://public-api.ticketleap.com/organizations/'+this[0]+'/events/'+this[1];
			$.getJSON(tlUrl+'?key=5382714350143704&callback=?', {},
				function(data) {
					//Grab performance information and create an array
					$.each(data.performances, function () {
						var perfArray = [];
						perfArray.name = data.name;
						perfArray.organization = data.organization_name;
						perfArray.url = this.url;
						perfArray.start = this.start_local;
						perfArray.end = this.end_local;
						perfArray.desc = data.description.slice(0,100)+'...';
						perfArray.image = data.image_url_search;
						perfArray.venue = data.venue_name;
						perfArray.location = data.venue_street+', '+data.venue_city+', '+data.venue_region_name;
						perfArray.slug = data.slug+'_'+this.slug;
						perfArray.orgslug = data.organization_slug
						//Get sortable date
						var compDate = Date.parse(this.start_local);
						perfArray.compDate = compDate;
						megaArray.push(perfArray);
						//if the event is the last in the array, and last performance, display the results
						if (data.slug == lastSlug) {
							var lastPerf = data.performances[data.performances.length-1];
							if (this.slug == lastPerf.slug) {
								showMe();
							}
						}
					});
				})
		})
	}
	
	function getEventInfo(info) {
		var date1 = new Date(info.start);
		if (date1 >=today) {
			var elName = 'tl_'+info.slug;
			$('#'+elName).append('<td class="image" width="80em"><a href="'+info.url+'"> <img src='+info.image+' /></a></td>'
				+'<td><h3><a href="'+info.url+'">'+info.name+'</a></h3>'
				+'<table cellpadding="0" cellspacing="0"><tr class="meta">'
				+'<td class="first" width="350em"><strong>'+info.start+' to '+info.end+'</strong><br />'
				+'Organized by <a href="http://'+info.orgslug+'.ticketleap.com">'+info.organization+'</a></td>'
				+'<td><strong>'+info.venue+'</strong><br/>'+info.location+'</td></tr></table>'
				+'<p id="desc">'+info.desc+'</p></td></tr>');
		};	
	}
	
	function showMe() {
		document.getElementById('performances').innerHTML = 'Found '+megaArray.length+' performances!';
		//Sort Arrays
		megaArray.sort(function(a,b) {
			return a.compDate-b.compDate
		});
		//Display results
		for (i in megaArray) {
			var elName = 'tl_'+megaArray[i].slug;
			$("<tr>").attr("id",elName).appendTo("#results");
			getEventInfo(megaArray[i]);
		}
	}
	
  	function codeAddress() {
    	var CITY = document.getElementById("city").value;
		var REGION_NAME = document.getElementById("state").value;
		var COUNTRY_CODE = document.getElementById("country").value;
		megaArray = [];
    	tlSearch(COUNTRY_CODE,REGION_NAME,CITY,'2011-07-05');
	}
	
	function updateAddress() {
		document.getElementById('fsq_results1').innerHTML = '';
		codeAddress();
	}
	
	function ClearCity() {
		document.getElementById('city').value="";
	}
	
	function ClearState() {
		document.getElementById('state').value="";
	}
	
	function ClearCountry() {
		document.getElementById('country').value="";
	}
	
	$(function() {
		$('input').keydown(function(e){
			if (e.keyCode == 13) {
				updateAddress();
				return false;
			}
		});
	});
	
</script>
</head>
<body onload="initialize()">
<div id="header"> 
	<div class="outsideContainer"> 
		<ul id="topNav"> 
			<li><div id='searchbox'>
				<div name='testform' onsubmit="updateAddress()">
					<input id="city" type='text' size=25 name='city' value='City' onfocus='ClearCity();'/>
					<input id="state" type='text' size=25 name='state' value='State' onfocus='ClearState();'/>
					<input id="country" type='text' size=25 name='country' value='Country' onfocus='ClearCountry();'/>
					<input type='submit' value='Find Events' onclick="updateAddress()" class="button" />
				</div>
			</div><!--end of searchbox--></li>
	    </ul> 
	    <a href="http://www.jennystanchak.com/tlsearch" id="logo"><img src="/media/tlsearch/images/logo.png" /></a> 
	</div> 
</div>
<div style="height: 5px !important;" id="nav"> 
  <div class="outsideContainer"> 
  </div> 
</div>
<div id='parameters'>
	<div id="map_canvas">
		<h3>Search terms</h3>
		<ul>
			<li>Location</li>
			<li>Keyword</li>
			<li>Timespan</li>
			<li>Tag</li>
		</ul>
		<h3>Sort By</h3>
		<ul>
			<li>Time (close, far)</li>
			<li>Distance (close, far)</li>
			<li>Amount of social</li>
			<li>Price (high, low)</li>
		<ul>
	</div>
</div><!--end of parameters-->
<div class="outsideContainer">
	<div class='results'>
		<div id='fsq_results1'></div>
	</div><!--results-->	     
</div><!--end of outsideContainer-->
</body>