<!DOCTYPE html>
<head>
	<title>Ticket Beacon</title>
	<link rel="stylesheet" type="text/css" href="/media/tlsearch/style.css" />
	<link rel="stylesheet" href="/media/webfontkit/stylesheet.css" type="text/css" charset="utf-8" />
<link href="/media/favicon.ico" rel="icon" type="image/x-icon" />
<meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
<script src="/media/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=geometry&sensor=false"></script>
<script src="http://code.jquery.com/jquery-1.5.js"></script>
<script type="text/javascript" src="/media/tlsearch/throbber.js"></script>
<script src="/media/lettering.js"></script>
<script type="text/javascript" src="/media/fancybox/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<script type="text/javascript" src="/media/fancybox/fancybox/jquery.easing-1.4.pack.js"></script>
<link rel="stylesheet" href="/media/fancybox/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />
<script>
	var geocoder;
	var map;
	var browserSupportFlag = new Boolean();
	var initialLocation;
	var megaArray = [];
	var megaArrayDated = [];
	var today = new Date();
	var today_for_api = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
	var emptyImage = '/media/tlsearch/images/empty.png';
	var numcalls = 0;
	var markersArray = [];
	var infowindow;
	var tagArray = [];
	
	function initialize () {
		geocoder = new google.maps.Geocoder();
		var myOptions = {
			zoom: 12,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
		
		// Detect location, then alert to tell location
		if (navigator.geolocation) {
			browserSupportFlag = true;
			navigator.geolocation.getCurrentPosition(function(position) {
				//alert('your location is '+position.coords.latitude+', '+position.coords.longitude);
				initialLocation = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
				map.setCenter(initialLocation);
				codeLatLng(initialLocation);
			}, function() {
				alert("Geolocation not supported.  We've stuck you on the Empire State Building.")
				initialLocation = new google.maps.LatLng(40.748379, -73.98555999999996);
				codeLatlng(initialLocation);
			});
		};
	}
	
	function codeLatLng(latlng) {
		//alert("we are in the codeLatlng function!");
		geocoder.geocode({'latLng': latlng}, function(results, status) {
			if (status == google.maps.GeocoderStatus.OK) {
				if (results[1]) {
					//Narrow down to results with City, State, Country
					for (i in results) {
						var address = results[i].formatted_address.split(", ");
						if (address.length==3) {
							//Narrow down to results with two letters for State
							var state = address[1].split(" ");
							if (state.length==1 && state[0].length==2) {
								//Assign values to API parameters
								var COUNTRY_CODE = address[2];
								var REGION_NAME = address[1];
								var CITY = address[0];
								$("#boxLocation2").append("Awesome, you're in "+CITY+"!");
								$("#boxEvents1").append("Searching for events near you...");
								tlSearch(COUNTRY_CODE,REGION_NAME,CITY,today_for_api);
							};
						};
					};
				}
				else {
					alert("No results found");
				}
			} else {
				alert("Geocoder failed due to: "+status);
			}
		});
	}
	
	function tlSearch(COUNTRY_CODE,REGION_NAME,CITY,date) {
		var tlUrl = 'http://public-api.ticketleap.com/events/by/location/'+COUNTRY_CODE+'/'+REGION_NAME+'/'+CITY;
		$.getJSON(tlUrl+'?key=7735287934996432&page_size=100&dates_after='+date+'&callback=?', {},
			function(data) {
				//Call the api more times if over 100 events
				numcalls = Math.ceil(data.total_count /  100);
				if (data.total_count>100) {
					var callsLeft = numcalls - 1;
					tlSearch2(COUNTRY_CODE,REGION_NAME,CITY,date,callsLeft);
				}
				$("#boxEvents2").append("Sweet! "+data.total_count+" events found!");
				$("#boxPerformance1").append("Scouting out event schedule...");
				$("#fsq_results1").append('<table cellpadding="0" cellspacing="0" id="result_table"></table>');
				var eventArray = []
				$.each(data.events, function() {
					//Get the org slug and event slug from each event in order to do performance search
					var miniArray = [this.organization_slug, this.slug];
					eventArray.push(miniArray);
				});
				getPerformanceInfo(eventArray,1);
			});
	}
	
	function tlSearch2(COUNTRY_CODE,REGION_NAME,CITY,date,callsLeft) {
		var tlUrl = 'http://public-api.ticketleap.com/events/by/location/'+COUNTRY_CODE+'/'+REGION_NAME+'/'+CITY;
		var page = 2;
		while (page<=callsLeft+1) {
			var callCount = page;
			$.getJSON(tlUrl+'?key=5382714350143704&page_num='+page+'&page_size=100&dates_after='+date+'&callback=?', {},
				function(data) {
					var eventArray2 = []
					$.each(data.events, function() {
						var miniArray2 = [this.organization_slug, this.slug];
						eventArray2.push(miniArray2);
					});
					getPerformanceInfo(eventArray2,callCount);
				});
			page +=1;
		}
	}
	
	function fetch() {
		document.getElementById("resultControls").style.display = "none";
		document.getElementById("maps_tags").style.display = "none";
		//Ready the loading box
		document.getElementById("boxLocation2").innerHTML = "";
		document.getElementById("boxEvents1").innerHTML = "";
		document.getElementById("boxEvents2").innerHTML = "";
		document.getElementById("boxPerformance1").innerHTML = "";
		document.getElementById("boxPerformance2").innerHTML = "";
		$("#inline").trigger('click');
		deleteMarkers();
		megaArray = [];
		megaArrayDated = [];
		tagArray=[];
		document.getElementById("fsq_results1").innerHTML = "";
		var address = document.getElementById("find_loc").value;
		geocoder.geocode({'address': address}, function(results, status) {
			if (status== google.maps.GeocoderStatus.OK) {
				if(results[0]) {
					var lat = results[0].geometry.location.lat();
					var lng = results[0].geometry.location.lng();
					var latlng = new google.maps.LatLng(lat, lng);
					map.setCenter(latlng);
					var addy = results[0].formatted_address.split(", ");
					var state = addy[1].split(" ");
					var COUNTRY_CODE = addy[2];
					var REGION_NAME = state[0];
					var CITY = addy[0];
					$("#boxLocation2").append("Awesome, you're in "+CITY+"!");
					document.getElementById("searchLocation").innerHTML = " in "+CITY;
					$("#boxEvents1").append("Searching for events near you...");
					tlSearch(COUNTRY_CODE, REGION_NAME, CITY, today_for_api);
				};
			} else {
				alert("Geocoder failed due to: "+status);
			}
		});
	}
	
	function getPerformanceInfo(eventArray,callCount) {
		var lastOne = eventArray[eventArray.length-1];
		var lastSlug = lastOne[1];
		$.each(eventArray, function() {
			var tlUrl = 'http://public-api.ticketleap.com/organizations/'+this[0]+'/events/'+this[1];
			$.getJSON(tlUrl+'?key=5382714350143704&callback=?', {},
				function(data) {
					//Grab performance information and create an array
					$.each(data.performances, function () {
						var perfArray = [];
						perfArray.name = data.name;
						perfArray.organization = data.organization_name;
						perfArray.url = this.url;
						perfArray.start = this.start_local;
						perfArray.end = this.end_local;
						//Shorten description
						if (data.description.length >100) {
							perfArray.desc = data.description.slice(0,100)+'...';
						} else {
							perfArray.desc = data.description;
						};
						//Fill in image if unavailable
						if (data.image_url_search == null) {
							perfArray.image = emptyImage;
						} else {
							perfArray.image = data.image_url_search;
						};
						perfArray.venue = data.venue_name;
						perfArray.location = data.venue_street+', '+data.venue_city+', '+data.venue_region_name;

						perfArray.slug = data.slug+'_'+this.slug;
						perfArray.orgslug = data.organization_slug;
						var tags = [];
						//Get tag info
						for (i in data.tags) {
							tags.push(data.tags[i].name);
						};
						perfArray.tags = tags;
												
						//Get sortable date
						var compDate = Date.parse(this.start_local);
						perfArray.compDate = compDate;
						megaArray.push(perfArray);

						//if the event is the last in the array, and last performance, and the last call, display the results
						if (data.slug == lastSlug) {
							var lastPerf = data.performances[data.performances.length-1];
							if (this.slug == lastPerf.slug) {
								if (callCount == numcalls) {
									showMe(20);
								}
							}
						}
					});
				})
		})
	}


	function tagHandler() {
		for (i in megaArrayDated) {
			for (h in megaArrayDated[i].tags) {
				tagArray.push(megaArrayDated[i].tags[h]);
			}
		};
		//compute frequencies of each tag
		var frequency = {}, value;
		for (var i=0; i<tagArray.length; i++) {
			value = tagArray[i];
			if(value in frequency) {
				frequency[value]++;
			}
			else {
				frequency[value] = 1;
			}
		};
		
		//make array from the frequency object
		var uniques = [];
		for (value in frequency) {
			uniques.push(value);
		};
		
		//Display tags
		uniques.sort();
		document.getElementById("tags").innerHTML = "";
		//Determine tag size
		if (uniques.length > 300) {
			var freqLimit = 5;
			var addNum = 6;
			var multy = 3;
		}
		else {
			if (uniques.length < 100) {
				var freqLimit = 1;
				var addNum = 5;
				var multy = 4;
			} 
			else {
				var freqLimit = 2;
				var addNum = 6;
				var multy = 4;
			}
		};

		for (i in uniques) {
			if (frequency[uniques[i]]>=freqLimit) {
				var size = Math.ceil(frequency[uniques[i]] / 5)*multy + addNum;
				if (size > 27) {
					size = 27;
				};
				$("#tags").append('<a class = "'+size+'">'+uniques[i]+'</a>  ');
			};
		};
		
		document.getElementsByClass = function(class){
		   var itemsfound = new Array;
		   var elements = document.getElementsByTagName('*');
		   for(var i=0;i<elements.length;i++){
		      if(elements[i].className == class){
		         itemsfound.push(elements[i]);
		      }
		   }
		   return itemsfound;
		};
		//change font-size for tag cloud
		var fSize = 9;
		while (fSize <= 27) {
			for(i in document.getElementsByClass(fSize)) {
				 document.getElementsByClass(fSize)[i].style.fontSize = fSize+'px';
			};
			fSize += 1
		};
	}

	function showMe(eventNum) {
		//Sort Arrays
		megaArray.sort(function(a,b) {
			return a.compDate-b.compDate
		});
		
		//Eliminate dates that are before today
		for (i in megaArray) {
			var date1 = new Date(megaArray[i].start);
			if (date1 >= today) {
				megaArrayDated.push(megaArray[i]);
			};
		};
		
		//Display tags
		tagHandler();
		
		alert('now there are only '+megaArrayDated.length+' things in the array');
		//Display results
		$("#boxPerformance2").append(megaArrayDated.length+" killer event times for you!");
		document.getElementById("eventCount").innerHTML = megaArrayDated.length;
		document.getElementById("resultControls").style.display = "";
		document.getElementById("maps_tags").style.display = "";
		displayPages(eventNum,1);
		createPages(eventNum);
	}

	function displayPages(numPerPage,pageNum) {
		if (markersArray.length > 0){
			deleteMarkers();
		};
		var counter = 0;
		var startNum = (pageNum - 1)*numPerPage;
		var endNum = startNum + numPerPage;
		alert('start at '+startNum+' and end at '+endNum);
		for (var i=startNum;i<endNum;i++) {
			var elName = 'tl_'+megaArrayDated[i].slug;
			$("<tr>").attr("id",elName).appendTo("#result_table");
			getEventInfo(megaArrayDated[i]);
			getLocation(megaArrayDated[i]);
		};
	}

	function createPages(numPerPage) {
		totalNumPages = Math.ceil(megaArrayDated.length / numPerPage);
		alert('total pages to create is '+totalNumPages);
		document.getElementById("pNums").innerHTML = "";
		for (var i=1;i<=totalNumPages;i++) {
			$('#pNums').append('<a onclick="getPage('+i+','+totalNumPages+','+numPerPage+')">'+i+'</a> ');
		}
	}
	
	function getPage(pageNum,totalNumPages,numPerPage) {
		//create previous and next if needed
		if (pageNum > 1){
			document.getElementById("previous").innerHTML = "<a>prev</a> ";
		}
		else {
			document.getElementById("previous").innerHTML = "";
		};
		if (pageNum == totalNumPages) {
			document.getElementById("next").innerHTML = "";
		}
		else {
			document.getElementById("next").innerHTML = " <a>next</a>";
		};
		//display pertinent results
		document.getElementById('result_table').innerHTML = "";
		displayPages(numPerPage,pageNum);
	}

	function getEventInfo(info) {
			var elName = 'tl_'+info.slug;
			$('#'+elName).append('<td class="image" style="width:8em"><a href="'+info.url+'"> <img src='+info.image+' /></a></td>'
				+'<td><h3><a href="'+info.url+'">'+info.name+'</a></h3>'
				+'<table cellpadding="0" cellspacing="0"><tr class="meta">'
				+'<td class="first" width="350em"><strong>'+info.start+' to '+info.end+'</strong><br />'
				+'Organized by <a href="http://'+info.orgslug+'.ticketleap.com">'+info.organization+'</a></td>'
				+'<td><strong>'+info.venue+'</strong><br/>'+info.location+'</td></tr></table>'
				+'<p id="desc">'+info.desc+'</p></td></tr>');
	}

	function getLocation(info) {
		if (info.latlng) {
			addVMarker(info, info.latlng);
		} else {
			geocoder.geocode({'address': info.location}, function(results, status) {
				if (status== google.maps.GeocoderStatus.OK) {
					if(results[0]) {
						var lat = results[0].geometry.location.lat();
						var lng = results[0].geometry.location.lng();
						var latlng = new google.maps.LatLng(lat, lng);
						info.latlng = latlng;
						addVMarker(info, latlng);
					} else {}
				} else {}
			});
		}
	}
	
	function addVMarker(info, Vlatlng) {
		tString = info.name;
		var contentStr = '<div class="box_title"><b>'+info.name+'</b></div><br /><div class="box_content">';
		contentStr += '</div>';
		vMarker = new google.maps.Marker({
			position: Vlatlng,
			map: map,
			draggable: false,
			title: tString,
			html: contentStr,
		});
		markersArray.push(vMarker);
		infowindow = new google.maps.InfoWindow({
			maxWidth: 330,
		});
		google.maps.event.addListener(vMarker, 'mouseover', function() {
			infowindow.setContent(this.html);
			infowindow.open(map, this);
		});
	}
	
	function deleteMarkers() {
		if (markersArray) {
			for (i in markersArray) {
				markersArray[i].setMap(null);
			}
			markersArray.length = 0;
		}
	}
	
	function resultSort(eventNum) {
		document.getElementById("result_table").innerHTML = "";
		deleteMarkers();
		displayPages(eventNum,1);
		createPages(eventNum);
	}
	
	function updateAddress() {
		fetch();
	}
	
	function ClearCity() {
		document.getElementById('city').value="";
	}
	
	function ClearState() {
		document.getElementById('state').value="";
	}
	
	function ClearCountry() {
		document.getElementById('country').value="";
	}
	
	$(function() {
		$('input').keydown(function(e){
			if (e.keyCode == 13) {
				updateAddress();
				return false;
			}
		});
	});
	
	$(document).ready(function() {
		$(".fancy_title").lettering();
		$("a#inline").fancybox({
			showCloseButton: false,
			width: 700,
			height: 245,
			autoDimensions: false,
			hideOnOverlayClick: true,
		});
		$("#inline").trigger('click');
	});
	
	
	
</script>
</head>
<body onload="initialize()">
<div id="header"> 
	<div class="outsideContainer">
		<h1 class="fancy_title"><a href="http://www.jennystanchak.com/tlsearch">Ticket Beacon</a></h1> 

	</div><!-- end outsideContainer-->
</div><!--end header--> 
<div style="height: 5px !important;" id="nav"> 
</div><!--end nav-->
<div id='page'>
	<div class="outsideContainer">
		<div id='parameters'>
			<div id='searchbox'>
				<form method="get" action="/search" name="header_find_form" id="header_find_form"> 
					<p id="search_for"> 
						<label for="find_desc">Search for <span>(e.g. festivals, theater)</span></label> 
						<input maxlength="64" name="find_desc" tabindex="1" size="20" id="find_desc" autocomplete="off" value=""> 
					</p> 
					<p id="search_near" class="clearfix"> 
						<label for="dropperText_Mast">Near City or Zip <span>(e.g. San Francisco, CA or 92130)</span></label> 
						<input maxlength="64" name="find_loc" tabindex="2" id="find_loc" size="14" value="Philadelphia, PA"> 
					</p> 
					<a class="button" style="position:absolute;top:28px;float:left; width:85px; text-align:center" onclick="this.blur(); fetch()"><span>Search</span></a>

				</form>
			</div><!--end searchbox-->
			<div class="clear"></div>
			
			<div id="resultControls" style="display:none">
				<div class="resultNum"><div id="eventCount">10,000,000</div> event times<div id="searchTerm"> for taco</div><div id="searchLocation"> in Philadelphia</div></div>
				<hr style="color:#ccc;background-color:#ccc;height:1px;border:none;" />
				<div class="pages"><span id="previous"></span><div class="pNums" id="pNums"><a>1</a> <a>2</a> <a>3</a> 4 5 6</div><span id="next"> next</span></div>				
				<div class="sort">Sort: <span><a>Date/Time</a> | <a>Social Activity</a> | <a>Distance</a></span></div>
				<div class="pagination">Show: <span><a onclick="resultSort(10)">10</a> | <a onclick="resultSort(20)">20</a> | <a onclick="resultSort(50)">50</a></span></div>

				<div class="clear"></div>
			</div><!--end resultControls-->
			
			<!--beginning of lightbox controls-->
			<a style="display:none" id="inline" href="#lightData">This shows the content of element who has id="lightData"</a>
			<div style="display:none"><div id="lightData">
				<table>
					<tr id="boxLocation">
						<td id="boxLocation1">Zeroing in on your location...</td>
						<td id="boxLocation2"></td>
					</tr>
					<tr id="boxEvents">
						<td id="boxEvents1"></td>
						<td id="boxEvents2"></td>
					</tr>
					<tr id="boxPerformance">
						<td id="boxPerformance1"></td>
						<td id="boxPerformance2"></td>
					</tr>
				</table>
				
			</div></div><!--end of lightbox controls-->
			
		</div><!--end of parameters-->
		<div class='results'>
			<div id='fsq_results1'>
			</div><!--end fsq_results1-->
		</div><!--end results-->	
		<div style="display:none" class='maps_tags' id='maps_tags'>
			<div id='tags'>
				Here are some tags tags tags tags tags tags tags tags tags tags tags tags tags tags tags tags tags tags tags
			</div><!--end tags-->
		</div><!--end maps_tags-->   
		<div id='map_canvas'>
		</div><!--end map_canvas-->  
	</div><!--end of outsideContainer-->
</div><!--end page-->
</body>