

html,body{height:100%; width:100%;}

body{
	background-color:white;
	font-family: Helvetica, Verdana, Arial, sans-serif; 
	color: #5a5858;
	margin:0;
	padding:0;}
	
div{
	margin: 0;
	padding: 0;
}

h1{margin-top: 0px; padding-top:0px; color:blue; font-size: 90px;}

.char1{color:white; left: .5em; font-family: 'FidelityNormal', 'Arial Black', Helvetica, sans-serif;}
.char2{color:white; left: .5em; font-family: 'FidelityNormal', 'Arial Black', Helvetica, sans-serif;}
.char3{color:white; left: .5em; font-family: 'FidelityNormal', 'Arial Black', Helvetica, sans-serif;}
.char4{color:white; left: .5em; font-family: 'FidelityNormal', 'Arial Black', Helvetica, sans-serif;}
.char5{color:white; left: .5em; font-family: 'FidelityNormal', 'Arial Black', Helvetica, sans-serif;}
.char6{color:white; left: .5em; font-family: 'FidelityNormal', 'Arial Black', Helvetica, sans-serif;}
.char7{color:white; left: .5em; font-family: 'FidelityNormal', 'Arial Black', Helvetica, sans-serif;}
.char8{color:white; left: .5em; font-family: 'FidelityNormal', 'Arial Black', Helvetica, sans-serif;}
.char9{color:white; left: .5em; font-family: 'FidelityNormal', 'Arial Black', Helvetica, sans-serif;}
.char10{color:white; left: .5em; font-family: 'FidelityNormal', 'Arial Black', Helvetica, sans-serif;}
.char11{color:white; left: .5em; font-family: 'FidelityNormal', 'Arial Black', Helvetica, sans-serif;}
.char12{color:white; left: .5em; font-family: 'FidelityNormal', 'Arial Black', Helvetica, sans-serif;}
.char13{color:white; left: .5em; font-family: 'FidelityNormal', 'Arial Black', Helvetica, sans-serif;}

a:link{color:orange;}

a:active{color:red;}

a:visited{color:#551a8b;}

.outsideContainer {
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	position: relative;
}

#header {
  background-color: #149c4a;
  height: 90px;
  width: 100%;
}

#header #logo {
  display: block;
  height: 48px;
  padding-top: 7px;
  width: 173px;
}

.clear{
	overflow: hidden;
	width:100%;
	clear: both;
}

a.button {
    background: transparent url('/media/tlsearch/images/bg_button_a.gif') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
	position:absolute;
	top:22px;
	right:10px;
}

.searchyBox a.button {
	position:absolute;
	top:123px;
	left:438px;
}

a.button span {
    background: transparent url('/media/tlsearch/images/bg_button_span.gif') no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
}

a.button:active {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

a.button:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
}

#nav {
  background: #4DB8E0 top left repeat-x;
  border-bottom:1px solid #45A5C9;
  font-weight: bold;
  height:38px;
  -webkit-text-stroke: 1px transparent;
}
#searchbox{float:left;display:inline;}
#header_find_form{margin:9px 0 20px 0px;height:56px;width:1000px;overflow:hidden;float:left;position:relative;}
#header_find_form p{float:left;margin:7px 10px 0 0;text-align:left;}
#header_find_form p#search_near{margin-right:0; margin-left:23px;}
#header_find_form input{width:400px;height:22px;padding:3px 0 0px 5px;font-size:17px;color:#333;border:1px solid #ccc;background:url(//media3.px.yelpcdn.com/static/201012163545511154/i/gfx/header_sprite.png) no-repeat 0 -152px;}
#header_find_form input:active{border-color:#888;outline:0;}
#header_find_form #search_near input{float:left;width:400px;}
#header_find_form .ybtn{position:absolute;top:70px;right:10px;}
label span{color:#666;font-size:11px;font-style:normal;font-weight:normal;}
label{color:#1d87b8;display:block;font-weight:bold;margin-bottom:2px;}

button{font-family:arial,'Lucida Grande','Bitstream Vera Sans',verdana,sans-serif;font-size:12px;}

#zipInput {margin-left:15px;}
#zipInput input{width:300px;height:22px;padding:3px 0 0px 5px;font-size:17px;color:#333;border:1px solid #ccc;background:url(//media3.px.yelpcdn.com/static/201012163545511154/i/gfx/header_sprite.png) no-repeat 0 -152px;}
#zipInput input:active{border-color:#888;outline:0;}
#zipInput input{float:left;width:300px;}

.resultNum {font-size:17px;margin-bottom:0px; font-weight:bold;}
.narrowResults {float:right;display:inline-block;background: url('/media/tlsearch/images/arrows.png') no-repeat right -53px; padding-right:20px}
.narrowResults a{color:#1d87b8;font-size:12px;font-style:normal;font-weight:normal;text-decoration:none;}
.active{background-position: right 3px;}
#searchTerm, #searchLocation, #eventCount, #searchTag, #timeFilter{display:inline;}
#searchTag span, #searchTerm span, #timeFilter span{
	display:inline-block;
	display:-moz-inline-stack; 
	padding:2px 5px;
	margin-left:5px;
	font-size:12px;
	font-weight:normal;
	text-align:center;
	background-color:#edfaff;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #1d87b8;
}
#searchTag a, #searchTerm a, #timeFilter a{
	color:#1d87b8;
	text-decoration:none;
	position:relative;
	top:-1px;}
	
#timePanel, .sort, .pagination, .pages{color:#1d87b8;display:block;font-weight:bold;margin-bottom:2px;font-size:12px;}
.searchyBox{float:left;display:inline; width:668px;padding-top:5px}
.searchyBox input{width:90px;height:14px;padding:3px 0 0px 5px;font-size:12px;color:#333;border:1px solid #ccc;background:url(//media3.px.yelpcdn.com/static/201012163545511154/i/gfx/header_sprite.png) no-repeat 0 -152px;}}
.searchyBox input:active{border-color:#888;outline:0;}
.searchyBox input{display:inline;width:90px;}
.dateColumnA{float:left; display:inline; width:115px}
.dateColumnB{float:left; display:inline}
.dateColumnC{float:right; display:inline}
.dateColumnA a, .dateColumnB a, .dateColumnC a{color:#666;font-size:12px;font-style:normal;font-weight:normal;text-decoration:none;}
.sort span a, .pagination span a, .pages span a{color:#666;font-size:12px;font-style:normal;font-weight:normal;text-decoration:none;}
.pages {float:right;display:inline;}
.pagination{float:left; display:inline;}
.sort {float:left;display:inline; width:438px;}
.pNums {display:inline;}
.pNums a{display:inline;}
.pNums a:link{display:inline-block;display:-moz-inline-stack; width:15px;text-align:center;text-decoration:none;color:#1d87b8;-moz-border-radius: 3px;
border-radius: 5px;}
.pNums a:visited{color:#1d87b8;}
.pNums a:hover{color:white;background-color:#1d87b8; display:-moz-inline-stack;display:inline-block; width:15px;-moz-border-radius: 3px;
border-radius: 5px;}
.pNums a.active{color:white;background-color:#1d87b8; display:-moz-inline-stack;display:inline-block; width:15px;-moz-border-radius: 3px;
border-radius: 5px;}

div.results
{
float:left;
width:650px;
margin:0;
border-right:1px solid #ccc;
padding-right:10px;
}
div.maps_tags
{
padding:1em;
padding-right:0;
padding-top:3px;
margin-left:660px;
}
#tags {text-align:justify;}
#tags a{height:300px; font-size:9px; text-align:justify; text-decoration:none;color:#666;}
#tags a:hover{color:#1d87b8;}

#map_canvas {position:absolute;top:400px;left:675px;height:300px; width:308px; padding-left: 1em; background-color:#4DB8E0;}

#lightData table{
	position:absolute;
	left:17px;
	top:0px;
	width:95%;
}
#lightData td{
	height:75px;
	font-size:20px;
}

#boxEvents2, #boxPerformance2, #boxLocation2 {
	font-family: "DanielRegular", Helvetica, Verdana, Arial, sans-serif;
	color:#149c4a;
}

.first {
	float:right;
}

#result_table {color:#646464;font-size:11px;display:block;}

#result_table h3 a{color:#1d87b8;font-size:14px;display:block;margin:0 0 0px;text-decoration:none;}
#result_table a{font-size:11px;position:relative;left:1px;text-decoration:none;}

#result_table #desc{font-size:12px;}